@model IEnumerable<PruebaTecnica.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}

<div class="card">
    <div class="card-header">
        <div class="col-md-6">
            Productos
        </div>
        <div class="col-md-6 float-right">
            <a class="btn btn-primary float-right" asp-action="Create"  role="button">Crear producto</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table" id="producto_table">
            <thead>
                <tr>
                    <th>
                        Codigo
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Precio
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Codigo
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.Precio
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i data-feather="edit-2"></i></a>
                            <a asp-action="Detalle" asp-route-id="@item.Id"><i data-feather="eye"></i></a>
                            <a data-id="@item.Id" href="#" id="borrarProducto"><i data-feather="trash-2"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{

    <script src="~/scripts/producto.js"></script>

}
