@model PruebaTecnica.Models.Orden

@{
    ViewData["Title"] = "Orden Detalle";
}

<div class="card">
    <div class="card-header">
        <div class="col-md-6">
            Orden Detalle
        </div>
        <div class="col-md-6 float-right ">                     
              <div class="btn-group float-right" role="group" aria-label="Third group">
                <a asp-action="Edit" asp-route-id="@Model.Id" ><i data-feather="edit-2"></i></a>
              </div>
              <div class="btn-group float-right" role="group" aria-label="Third group">
                <a asp-action="Index"  ><i data-feather="list" ></i></a>
              </div>
        </div>
        
    </div>
    <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="NumeroOrden" class="control-label">Número de Orden</label>
                     <input type="text" class="form-control"  asp-for="NumeroOrden" readonly />
                </div>
                <div class="col-md-4">
                    <label for="clienteNombre" class="control-label">Cliente</label>
                    <input type="text" class="form-control" id="clienteNombre" readonly value="@Model.Cliente.Nombres @Model.Cliente.Apellidos"/>
                </div>
                <div class="col-md-4">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input type="date" id="Fecha" name="Fecha" value="@Model.Fecha.ToString("yyyy-MM-dd")"  class="form-control" readonly/>
                </div>
            </div>


            <br />

            <div class="card">
              <div class="card-header">
                 Productos
              </div>
              <div class="card-body">
                <table class="table" style="width:100%" id="ordenProducto_table">
                  <thead>
                      <tr>
                          <th>
                              Codigo
                          </th>
                          <th>
                              Producto
                          </th>
                          <th>
                              Cantidad
                          </th>
                          <th>
                              Precio
                          </th>
                          <th>
                              Importe
                          </th>
                      </tr>
                  </thead>
                  <tbody>
                      @foreach (var item in @Model.Detalles)
                     {
                         <tr>
                             <td>@item.Producto.Codigo</td>
                             <td>@item.Producto.Nombre</td>
                             <td>@item.Cantidad</td>
                             <td>@item.Precio</td>
                             <td>@(item.Cantidad * item.Precio)</td>
                         </tr>
                     }
                  </tbody>
                </table>
              </div>
            </div>
    </div>
</div>
