@model IEnumerable<PruebaTecnica.Models.Orden>

@{ ViewData["Title"] = "Index"; }


<div class="card">
    <div class="card-header">
        <div class="col-md-6">
            Ordenes
        </div>
        <div class="col-md-6 float-right">
            <a class="btn btn-primary float-right" id="openModalOrden" href="#" role="button">Crear</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table" id="orden_table">
            <thead>
                <tr>
                    <th>
                        Número Orden
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Productos
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.NumeroOrden
                        </td>
                        <td>
                            @item.Fecha.Date.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Nombres) @Html.DisplayFor(modelItem => item.Cliente.Apellidos)
                        </td>
                        <td>

                           @foreach (var producto in item.Detalles)
                           {

                                @($"\n{producto.Producto.Nombre}");

                           }                                        
  
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i data-feather="edit-2"></i></a>
                            <a asp-action="Details" asp-route-id="@item.Id"><i data-feather="eye"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id"><i data-feather="trash-2"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<!--Modal para crear órdenes -->
<div class="modal fade" id="ordenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Orden</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ordenModalBody">
                
            </div>
        </div>
    </div>
</div>


<!--Modal para buscar los clientes -->
<div class="modal fade" id="clienteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Clientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="clienteModalBody">
                <table class="table" style="width:100%" id="cliente_table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Codigo
                            </th>
                            <th>
                                Cliente
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody id="clienteTable_body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{

<script src="~/scripts/orden.js"></script>

}